/* ===== Font-Family Link =====*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

h1 {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: -.02em;
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.00938em;
    text-align: center;
}


/* ===== Navbar Start =====*/

header {
    padding: 22px 16px;
    margin: 0 auto;
}

.header_logo img {
    width: 186.35px;
    height: 36px;
}

.toggler_btn {
    background: none;
    border: none;
    outline: none;
    font-size: 1.5rem;
}

.header_links {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ===== Navbar End =====*/

/* ===== Hero Section Start =====*/

main {
    background-image: linear-gradient(180deg, #ffffff 0%, #eeebff 69.79%, #ebe8ff 99.99%, #e1deff 100%);
}

.hero_container {
    padding: 1rem;
}

.text_break {
    display: none;
}

.hero_heading {
    background: linear-gradient(106.43deg, #522fd4, #6bdcff 95.12%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    line-height: 50px;
}

.hero_input_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-top: 24px;
}

.hero_input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #bcbac5;
    border-radius: 4px;
}

.hero_input input {
    padding: 8.5px 0 8.5px 14px;
    width: 100%;
    background: none;
    outline: none;
    border: none;
}

.hero_input input::placeholder {
    color: #81777f;
    font-size: 16px;
}

.hero_input_icon {
    padding: 0 14px;
    display: flex;
    align-items: center;
}

.hero_input_icon img {
    width: 100%;
    height: 100%;
}

.hero_job_btn {
    background-color: rgb(104, 81, 255);
    color: rgb(255, 255, 255);
    padding: 10px 24px;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 700;
}

.hero_jobs_content {
    margin: 16px 0;
}

.hero_jobs_title {
    line-height: 1.6;
    background: linear-gradient(180deg, #4d3bdb 0%, #9747ff 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.hero_job_btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 16px 0;
}

.hero_job_btns button {
    font-size: 14px;
    padding: 7px 10px;
    color: rgb(104, 81, 255);
    border-radius: 6px;
    font-weight: 800;
    border: 1px solid rgba(104, 81, 255, 0.5);
    background: none;
}

.hero_image img {
    width: 100%;
}

.header_links ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header_links ul li {
    list-style: none;
}

.header_links ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #313131;
}

.header_links ul li:last-child a {
    color: #6851ff;
}
/* ===== Hero Section End =====*/

/* ===== Steps Section Start =====*/

.steps_container {
    margin: 80px 0;
    padding: 0 16px;
}

.steps_heading {
    color: #3f3f3f;
    font-weight: 600;
}

.steps_heading_span {
    color: #6851ff;
}

.steps_paragraph {
    color: rgb(49, 49, 49);
    font-weight: 400;
}

.steps_boxes {
    margin: 20px 0;
}

.steps_box {
    box-shadow: 0 4px 40px #bdb2ff3d;
    padding: 2.5rem;
    background: linear-gradient(180deg, #edebff, hsla(0, 0%, 100%, 0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 220px;
    border: 1px solid #fff;
    border-radius: 24px;
    margin: 20px 0;
}

.steps_box_heading p{
    font-size: 18px;
    color: rgb(104, 81, 255);
    font-weight: 600;
    line-height: 1.5;
}

.steps_box_paragraph p {
    color: rgb(63, 63, 63);
    font-size: 16px;
    line-height: 1.5;
}

/* ===== Steps Container End =====*/

/* ===== Content Container Start =====*/

.content_container {
    padding: 1rem;
}

.content_text h1 {
    color: #3f3f3f;
    font-weight: 600;
    text-align: start;
}

.content_text p {
    color: rgb(49, 49, 49);
    font-weight: 400;
    text-align: start;
}

.content_span {
    color: #6851ff;
}

.content_img {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_img img {
    width: 100%;
}

/* ===== Content Container End =====*/

/* ===== Job Container Start =====*/

.jobs_container {
    margin: 64px 0;
    padding: 0 16px;
}

.jobs_heading {
    color: #3f3f3f;
    font-weight: 600;
}

.jobs_heading_span {
    color: #6851ff;
}

.jobs_paragraph {
    color: rgb(49, 49, 49);
    font-weight: 400;
}

.job_boxes {
    margin: 20px 0;
}

.jobs_box {
    box-shadow: 0 6px 12px #0000001a;
    padding: 25px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    min-height: 250px;
    border: 1px solid #fff;
    border-radius: 6px;
    margin: 20px 0;
}

.job_box_top {
    display: flex;
    justify-content: space-between;
}

.job_box_bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.job_box_top p {
    text-align: start;
    font-size: 16px;
}

.job_type,
.job_location {
    font-weight: 600;
}

.job_sallary {
    color: rgb(77, 59, 219);
    font-weight: 500;
}


.job_day {
    text-align: start;
    font-size: 16px;
}

.job_views {
    text-align: end;
    font-size: 16px;
}

.job_by {
    color: #3f3f3f;
    font-weight: 500;
    font-size: 16px;
}

.jobs_box_heading p {
    font-size: 18px;
    color: rgb(104, 81, 255);
    font-weight: 600;
    line-height: 1.5;
}

.jobs_box_paragraph p {
    color: rgb(63, 63, 63);
    font-size: 16px;
    line-height: 1.5;
}

/* ===== Job Container End =====*/

/* ===== Image Container Start =====*/

.images_container {
    display: none;
}

/* ===== Image Container End =====*/

/* ===== Footer Container Start =====*/

.footer_container {
    background: linear-gradient(180deg, #4d3bdb 0%, #9747ff 100%);
    width: 100%;
    margin-top: 80px;
    padding: 80px 24px;
}


.footer_right {
    margin-top: 1.5rem;
}

.footer_right ul li {
    color: white;
    list-style: none;
    font-size: 16px;
}

.footer_right ul li:last-child {
    margin-top: 1rem;
}

.footer_social {
    padding: 2rem 0;
}


.footer_content p {
    text-align: start;
    font-size: 16px;
    color: white;
}

.footer_social p {
    color: white;
    text-align: start;
    font-size: 20px;
    font-weight: 600;
}

.footer_icons {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
}

.footer_icons i {
    font-size: 1.5rem;
    color: white;
}

.footer_pages {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
    border-top: 2px solid white;
}

.footer_pages p,
.footer_copyright p {
    font-size: 16px;
    font-weight: 400;
    color: white;
}
/* ===== Footer Container End =====*/

/* ===== Responsive =====*/

@media only screen and (max-width: 425px){
    .hero_image img {
        display: none;
    }
}


@media only screen and (min-width: 600px){

    h1 {
        font-size: 48px;
    }

    .hero_heading {
        font-size: 80px;
        line-height: 100px;
    }

    .steps_container {
        padding: 0 24px;
        margin: 160px 0;
    }

    .steps_boxes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .content_container {
        padding: 0  24px;
    }

    .content_text h1 {
        text-align: center;
    }

    .content_container p {
        text-align: center;
        width: 70%;
        margin: 0 auto;
        font-size: 20px;
    }

    .jobs_container {
        padding: 0 24px;
        margin: 160px 0;
    }

    .job_boxes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .images_container {
        padding: 0 24px;
    }
}

@media only screen and (min-width: 768px){

    .text_break {
        display: block;
    }

    .hero_heading {
        font-size: 80px;
        line-height: 100px;
    }

    p {
        font-size: 20px;
    }

    .hero_input {
        width: 70%;
    }
}

@media only screen and (min-width: 900px){
    .images_container {
        display: flex;
        justify-content: space-between;
    }
    
    .images_container > div {
        max-width: 41.6667%;
        height: 100%;
    }

    .images_container > div img {
        width: 100%;
        height: 100%;
    }

    .images_content {
        color: #3f3f3f;
        text-align: start;
        font-weight: 600;
    }

    .images_span {
        color: #6851ff;
    }

    .footer_content {
        display: flex;
        justify-content: space-between;    
    }

    .footer_left {
        flex: 1;
    }

    .footer_right {
        display: flex;
        flex-direction: column;
        align-items: end;
        flex: 2;
        margin-top: 0;
    }
}

@media only screen and (min-width: 1024px){
    .hero_container {
        margin-top: 40px;
    }

    .hero_content {
        width: 75%;
        margin: 0 auto;
    }

    .header_links {
        display: block;
    }
}

@media only screen and (min-width: 1200px){
    header,
    .steps_container,
    .content_container,
    .jobs_container,
    .images_container,
    .footer_area {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .steps_boxes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
    }

    .steps_box {
        gap: unset;
    }

    .job_boxes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }

    .job_box {
        gap: unset;
    }
}

@media only screen and (min-width: 1440px){
    .hero_content {
        width: 65%;
        margin: 0 auto;
    }
}
