@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: "Arimo", sans-serif;
}

html,
body {
  font-size: 62.5%;
}


/*Common css start*/

.wrapper {
    width: 90%;
    margin: auto;
  }
  
  .btn_primary {
    background-color: #fff;
    border: none;
    font-size: 1.4rem;
    font-weight: 600;
    color: #181818;
    border-radius: 20px;
  
    padding: 1rem 2.5rem;
    cursor: pointer;
  }
  
  .btn_secondary {
    background-color: #108a10;
    border: 1px solid #108a10;
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    padding: 1rem 2.5rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn_secondary:hover {
    background-color: #298a29;
  }
  
  .btn_secondary_outline {
    background-color: #fff;
    border: 1px solid #108a10;
    /* border: none; */
    font-size: 1.4rem;
    font-weight: 600;
    color: #108a10;
    padding: 1rem 2.5rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn_secondary_outline:hover {
    background-color: #e9f7e5;
  }
  
  .title-1 {
    font-size: 80px;
  }
  
  .title-3 {
    font-size: 24px;
  }
  
  .title-4 {
    font-size: 16px;
  }
  
  /*Common css end*/

  /*Header css start*/

.header {
    font-size: 1.4rem;
    position: fixed;
    width: 100%;
    padding: 0 1rem;
    background-color: #fff;
  
    z-index: 101;
  }
  
  .header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    border-bottom: 1px solid #d5e0d5;
  }
  
  .header_left {
    display: flex;
    align-items: center;
  }
  
  .header_left svg {
    width: 8rem;
  }
  
  .header_left img {
    height: 2.5rem;
  }
  
  .header_left_list {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    color: #181818;
    font-weight: 500;
  }
  
  .header_left_list_item {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    cursor: pointer;
  }
  
  .header_left_list_item img {
    width: 12px;
    margin-left: 0.5rem;
  }
  
  .header_right {
    display: flex;
    align-items: center;
  }
  
  .header_right_form {
    position: relative;
    width: 300px;
  }
  
  .header_right_form input {
    height: 40px;
    border-radius: 20px;
    border: 1px solid #d5e0d5;
    outline: none;
    width: 100%;
    padding-left: 5rem;
  }
  
  .header_right_form input::placeholder {
    font-weight: 700;
    padding: 0.8rem;
  }
  
  .header_right_form_input_icons {
    position: absolute;
    display: flex;
    align-items: center;
    top: 11px;
    left: 16px;
  }
  
  .header_right_form_input_icons img:nth-child(1) {
    width: 20px;
  }
  
  .header_right_form_input_icons img:nth-child(2) {
    width: 12px;
  }
  
  .header_right_btns {
    margin-left: 1rem;
  }
  
  /*Header css end*/

  /*Section 1 css start*/
.section_1 {
    font-size: 1.4rem;
    position: relative;
    padding-top: 140px;
    padding-bottom: 80px;
  }
  
  .section_1_top {
    position: fixed;
    top: 70px;
    width: 100%;
    background-color: #fff;
    z-index: 100;
  }
  
  .section_1_top_list {
    display: flex;
    align-items: center;
    height: 70px;
  
    color: #181818;
  }
  
  .section_1_top_list_item {
    margin: 0 2rem;
    font-weight: 500;
  }
  
  .section_1_top_list_item:last-child {
    display: flex;
    align-items: center;
  }
  
  .section_1_top_list_item:last-child img {
    width: 14px;
  }
  
  .section_1_bottom {
    /* margin-top: 140px; */
    position: relative;
  }
  
  .section_1_bottom_left h1 {
    color: #181818;
  }
  
  .section_1_bottom_left h3 {
    color: #181818;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  
  .section_1_bottom_left_btns button {
    margin-right: 2rem;
  }
  
  .section_1_bottom_left_companies_logo {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
  }
  
  .section_1_bottom_left_companies_logo h4 {
    color: #9aaa97;
    font-weight: 600;
  }
  
  .section_1_bottom_left_companies_logo div {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
  
  .section_1_bottom_left_companies_logo div img {
    height: 40px;
    max-height: 110px;
    margin-right: 30px;
    width: auto;
  }
  
  .section_1_bottom_left_companies_logo div img:nth-child(3) {
    height: 26px;
  }
  
  .section_1_bottom_right {
    position: absolute;
    top: 120px;
    right: 0;
    z-index: 99;
  }
  
  .section_1_bottom_right img {
    width: 480px;
  }
  
  /*Section 1 css end*/

  /*Section 2 css start*/
.section_2 {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
  }
  
  .section_2_header {
    display: flex;
    flex-direction: column;
  }
  
  .section_2_header h3 {
    font-size: 42px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  
  .section_2_header div {
    display: flex;
    font-size: 1.6rem;
    font-weight: 500;
  }
  
  .section_2_header div p {
    color: #181818;
    margin-right: 0.5rem;
    margin-bottom: 40px;
  }
  
  .section_2_header div a {
    text-decoration: none;
  }
  
  .section_2_header div a:hover {
    text-decoration: underline;
  }
  
  .section_2_categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    grid-column-gap: 30px;
    column-gap: 30px;
    grid-row-gap: 15px;
    row-gap: 15px;
    margin-top: 30px;
    margin-bottom: 80px;
  }
  
  .section_2_categories_tile {
    width: 261px;
    height: 134px;
    background: #f2f7f2;
    border-radius: 8px;
    padding: 20px;
    font-size: 23px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .section_2_categories_tile:hover {
    background: #e4ebe4;
  }
  
  .section_2_categories_tile h4 {
    font-size: 23px;
    margin-bottom: 2rem;
  }
  
  .section_2_categories_tile div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
    color: #5e6d55;
  }
  
  .section_2_categories_tile div span:first-of-type {
    display: flex;
    align-items: center;
  }
  
  .section_2_categories_tile div span:last-of-type {
    margin-right: 40px;
  }
  
  .section_2_categories_tile div span:first-of-type img {
    height: 12px;
  }
  
  /*Section 2 css end*/

  .section_3 {
    display: flex;
    border-radius: 8px;
    margin-bottom: 50px;
    overflow: hidden;
  }
  
  .section_3_left {
    width: 52%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
  }
  
  .section_3_left {
    padding: 30px 0 30px 30px;
    color: #fff;
    background-color: #13544e;
  }
  
  .section_3_left_header h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 40px;
  }
  
  .section_3_left_header h1 {
    font-size: 80px;
    margin-bottom: 20px;
    line-height: 100%;
    font-weight: 400;
    letter-spacing: -0.2rem;
  }
  
  .section_3_left_header span {
    font-size: 18px;
    font-weight: 500;
  }
  
  .section_3_left_details {
    border-top: 1px solid #fff;
    margin-top: 104px;
    /* padding-top: 26px; */
  }
  .section_3_left_details div {
    margin-top: 25px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
  }
  
  .section_3_left_details div img {
    margin-right: 10px;
  }
  
  .section_left_btn {
    padding-top: 25px;
  }
  
  .section_left_btn button {
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.6px;
    padding: 12px 29px;
    font-weight: 500;
  }
  
  .section_3_right {
    width: 48%;
    height: 100%;
  }
  
  .section_3_right img {
    object-fit: cover;
    margin-bottom: -1px;
  }

  /*Section 3 css start*/
.section_4 {
    position: relative;
  }
  
  .section_4_background_img {
    border-radius: 10px;
    overflow: hidden;
    z-index: 9;
  }
  
  .section_4_background_img img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .section_4_body {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    font-size: 1.6rem;
    color: #ffff;
    padding: 30px;
    width: 100%;
  }
  
  .section_4_body_row_1 h4 {
    font-size: 24px;
    line-height: 32px;
  
    font-weight: 500;
    margin-bottom: 85px;
  }
  
  .section_4_body_row_1 h1 {
    font-size: 72px;
    line-height: 72px;
  
    font-weight: 400;
    margin-bottom: 30px;
  }
  
  .section_4_body_row_2 h5 {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 20px;
  }
  
  .section_4_body_row_4 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    /* width: 100%; */
  }
  
  .section_4_body_row_4_card {
    flex: 33.33%;
    max-width: 33.33%;
    padding: 0 15px;
  }
  
  .section_4_body_row_4_card button {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 15px;
    text-align: left;
    cursor: pointer;
    /* font-size: 15px;
      line-height: 16px; */
    /* letter-spacing: 0.6px; */
    color: white;
    background-color: #108a10;
    border-color: transparent;
    transition: background-color 0.2s, color 0.2s;
  }
  
  .section_4_body_row_4_card button:hover {
    color: #108a10;
    background-color: #fff;
  }
  
  .section_4_body_row_4_card button span:first-of-type {
    margin-bottom: 20px;
    font-size: 34px;
    line-height: 34px;
    text-align: left;
    font-weight: 500;
  }
  
  .section_4_body_row_4_card button span:last-of-type {
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    font-weight: 500;
  }
  
  .section_4_body_row_4_card button span:last-of-type sup {
    position: relative;
    font-size: 9px;
    line-height: 18px;
    font-weight: 600;
    vertical-align: top;
    margin-left: 0.2rem;
    top: -0.3rem;
  }
  /*Section 3 css end*/

  /*Section 4 css start*/
.section_5 {
    margin-top: 100px;
    display: flex;
  }
  
  .section_5_left {
    position: relative;
    width: 65%;
    margin-right: 30px;
    border-radius: 8px;
    padding: 30px;
    background-color: #f2f7f2;
  }
  
  .section_5_left_info_title {
    font-size: 72px;
    line-height: 72px;
    margin: 30px 0;
    font-weight: 400;
  }
  
  .section_5_left_info_item {
    display: flex;
    padding-right: 200px;
  }
  
  .section_5_left_info_item_right {
    display: flex;
    flex-direction: column;
  }
  
  .section_5_left_info_item_left img {
    height: 20px;
    margin-top: 8px;
    margin-right: 15px;
  }
  
  .section_5_left_info_item_right h3 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .section_5_left_info_item_right p {
    font-size: 1.6rem;
    margin-bottom: 30px;
    font-weight: 500;
    color: #5e6d55;
    letter-spacing: -0.05rem;
  }
  
  .section_5_left_img {
    position: absolute;
    top: 0;
    right: 0;
    height: 694px;
    width: 357px;
    vertical-align: middle;
    transform: translate(99px, -55px);
  }
  
  .section_5_left_img img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .section_5_right {
    width: 35%;
    border-radius: 8px;
    background-color: #108a10;
  }
  
  .section_5_right_info {
    margin-top: 220px;
    margin-left: 36px;
  }
  
  .section_5_right_info h3 {
    font-size: 36px;
    margin-bottom: 30px;
    color: white;
  }
  
  .section_5_right_info_item {
    display: flex;
  }
  
  .section_5_right_info_item img {
    height: 30px;
    margin-top: 5px;
    margin-right: 15px;
  }
  
  .section_5_right_info_item div {
    display: flex;
    flex-direction: column;
  }
  
  .section_5_right_info_item h3 {
    margin-bottom: 10px;
  }
  
  .section_5_right_info_item p {
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin-bottom: 30px;
  }
  
  /*Section 4 css end*/

  /*Section 5 css start*/
.section_6 {
    display: flex;
    margin-top: 50px;
    border-radius: 8px;
    color: #fff;
  
    overflow: hidden;
  }
  
  .section_6_left {
    width: 50%;
  }
  
  .section_6_left img {
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    margin-bottom: -1px;
  }
  
  .section_6_right {
    width: 50%;
    padding: 30px;
    background-color: #1f57c3;
  }
  
  .section_6_right hr {
    margin-top: 18px;
    margin-bottom: 10px;
  }
  .section_6_right_top {
    padding-bottom: 100px;
    margin-bottom: 60px;
  }
  
  .section_6_right_top h3 {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 500;
  }
  
  .section_6_right_top h1 {
    font-size: 72px;
    line-height: 72px;
    font-weight: 400;
    margin-bottom: 30px;
  }
  
  .section_6_right_top p {
    font-size: 18px;
    font-weight: 500;
  }
  
  .section_6_right_middle {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .section_6_right_middle p {
    flex: 33.33%;
    align-items: flex-start;
    font-size: 18px;
    font-weight: 500;
  }
  
  .section_6_right_middle p:not(#text-1) {
    margin-left: 25px;
  }
  
  .section_6_right_bottom {
    position: relative;
  }
  
  .section_6_right_bottom button {
    position: absolute;
    top: 15px;
    padding: 1.2rem 3rem;
    color: #1f57c3;
    transition: background-color 0.2s ease;
  }
  
  .section_6_right_bottom button:hover {
    background-color: #d5e0d5;
  }
  
  /*Section 5 css end*/

  /*Section 6 css start*/
.section_7 {
    margin-top: 85px;
    position: relative;
    /* padding: 0 15px; */
  }
  
  .section_7 h1 {
    font-size: 72px;
    font-weight: 400;
    margin-bottom: 30px;
  }
  
  .section_7_container {
    /* overflow: hidden; */
    position: relative;
  }
  
  .section_7_reviews_carousel {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    overflow-x: scroll;
    scroll-behavior: smooth;
  }
  
  .section_7_reviews_carousel::-webkit-scrollbar {
    display: none;
  }
  
  .section_7_reviews_list {
    position: relative;
    display: flex;
    align-items: center;
  
    width: 2280px;
  }
  
  .section_7_reviews_list_box_1,
  .section_7_reviews_list_box_2 {
    position: relative;
    display: flex;
    align-items: center;
    height: 450px;
    min-height: 450px;
    z-index: 99;
  }
  
  .section_7_reviews_list_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 540px;
    height: 100%;
    /* height: 485px; */
    /* min-height: 450px; */
    padding: 25px;
    border-radius: 8px;
    margin-right: 30px;
    color: #fff;
  }
  
  .section_7_reviews_list_item_top img {
    width: 199px;
    height: 56px;
    margin-bottom: 15px;
    margin-right: auto;
  }
  
  .section_7_reviews_list_item_top h4 {
    font-size: 26px;
    font-weight: 300;
    letter-spacing: -0.05rem;
    line-height: 2.5rem;
    margin-bottom: 10px;
  }
  
  .section_7_reviews_list_item_top p {
    font-size: 16px;
    font-weight: 100;
    color: #d5e0d5;
  }
  
  .section_7_reviews_list_item_bottom {
    min-height: 126px;
  }
  
  .section_7_reviews_list_item_bottom h5 {
    font-size: 15px;
  
    font-weight: 100;
  
    color: #d5e0d5;
  }
  
  .section_7_reviews_list_item_bottom hr {
    margin-bottom: 17px;
    margin-top: 12px;
  }
  
  .section_7_reviews_list_item_bottom_results {
    display: flex;
    align-items: center;
  }
  
  .section_7_reviews_list_item_bottom_results div {
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    flex: 42%;
  }
  
  .section_7_reviews_list_item_bottom_results div h4 {
    font-size: 26px;
    line-height: 25px;
    margin-bottom: 10px;
  }
  
  .section_7_reviews_list_item_bottom_results div p {
    font-size: 16px;
    color: #d5e0d5;
  }
  
  .section_7_reviews_list_item.item_1 {
    background-color: #13544e;
  }
  
  .section_7_reviews_list_item.item_2 {
    background-color: #bc511b;
  }
  
  .section_7_reviews_list_item.item_3 {
    background-color: #1f57c3;
  }
  
  .section_7_reviews_list_item.item_4 {
    display: flex;
    flex-direction: row;
    padding: 0;
    overflow: hidden;
  }
  
  .section_7_reviews_list_item_left {
    width: 50%;
    height: 100%;
  }
  
  .section_7_reviews_list_item_left img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    background-size: cover;
  }
  
  .section_7_reviews_list_item_right {
    width: 50%;
    padding: 41px;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .section_7_reviews_list_item_right h5 {
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 35px;
  }
  
  .section_7_reviews_list_item_right img {
    width: 92px;
    height: 45px;
    margin-right: auto;
  }
  
  .section_7_reviews_list_item_right img:nth-of-type(2) {
    width: 167px;
    height: 45px;
    margin-right: auto;
  }
  
  .section_7_reviews_list_controls_left,
  .section_7_reviews_list_controls_right {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40%;
    background-color: #181818;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.2s ease;
    z-index: 100;
  }
  
  .section_7_reviews_list_controls_left {
    left: -38px;
    opacity: 0;
  }
  
  .section_7_reviews_list_controls_left img {
    transform: rotate(180deg);
  }
  
  .section_7_reviews_list_controls_right {
    right: 0;
  }
  
  /*Section 6 css end*/

  /*Section 7 css start*/
.section_8 {
    display: flex;
    padding: 0 15px;
    padding-top: 100px;
  }
  
  .section_8_left,
  .section_8_middle,
  .section_8_right {
    flex: 33.33;
    display: flex;
    padding: 0 15px;
    flex-direction: column;
  }
  
  .section_8_left {
    padding-left: 0;
    padding-right: 30px;
    margin-right: 30px;
  }
  
  .section_8_middle {
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 30px;
  }
  
  .section_8_left a,
  .section_8_middle a,
  .section_8_right a {
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .section_8_left a {
    font-size: 40px;
    line-height: 40px;
    color: #d5e0d5;
    margin-bottom: 15px;
    font-weight: 500;
  }
  
  .section_8_left a sup {
    font-size: 10px;
  }
  
  .section_8_left a:first-of-type {
    color: #108a10;
  }
  
  .section_8_middle a,
  .section_8_right a {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 15px;
    font-weight: 500;
    color: #181818;
  }
  
  .section_8_left a:hover,
  .section_8_middle a:hover,
  .section_8_right a:hover {
    color: #254d97;
  }
  
  /*Section 7 css end*/
  

  /*Section 8 css start*/
.footer {
    padding: 90px 125px;
  
    margin-top: 100px;
  
    background-color: #181818;
    display: flex;
    flex-direction: column;
  }
  
  .footer_top {
    display: flex;
    justify-content: space-between;
  }
  
  .footer_top_list {
    flex: 25%;
  }
  
  .footer_top_list:not(:last-of-type) {
    margin-right: 20px;
  }
  
  .footer_top_list h5 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #d5e0d5;
  }
  
  .footer_top_list ul {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
  }
  
  .footer_top_list ul li {
    margin-bottom: 10px;
  }
  
  .footer_top_list ul li a {
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    line-height: 20px;
    transition: text-decoration 0.2s ease;
  }
  
  .footer_top_list ul li a:hover {
    text-decoration: underline;
  }
  
  .footer_middle {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 9px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #181818;
  }
  
  .footer_middle_left,
  .footer_middle_right {
    display: flex;
    align-items: center;
  }
  
  .footer_middle_left h5,
  .footer_middle_right h5 {
    margin-right: 20px;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  .footer_middle_left_list,
  .footer_middle_right_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer_icons {
    border-radius: 50%;
    border: 1px solid #9aaa97;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .footer_icons:hover {
    background-color: #181818;
  }
  
  .footer_icons img {
    filter: invert(98%) sepia(0%) saturate(0%) hue-rotate(9deg)
    brightness(103%) contrast(103%);
  
    height: 14px;
  }
  
  .footer_bottom {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
  }
  
  .footer_bottom p {
    padding-right: 30px;
    margin-right: 30px;
  
    border-right: 1px solid #fff;
  }
  
  .footer_bottom_list {
    display: flex;
    align-items: center;
  }
  
  .footer_bottom_list li {
    margin-right: 20px;
  }
  /*Section 8 css end*/
  